.ui-btn {
  font-size: $ui-button-font-size;
}

.ui-btn-default {
  @include button-variant($ui-btn-standard-color, $ui-btn-standard-bg, $ui-btn-standard-border);
}

.ui-btn-primary {
  @include button-variant($ui-btn-primary-color, $ui-btn-primary-bg, $ui-btn-primary-border);
}

.ui-btn, .ui-btn.ui-btn-tag{
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $ui-disabled-btn-bg;
      border-color: $ui-disabled-btn-border;
      color: $ui-disabled-btn-color;
      cursor: default;
    }
  }
  &.engaged {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $ui-disabled-btn-bg;
      border-color: $ui-disabled-btn-border;
      color: $ui-disabled-btn-color;
    }
  }
}


// #16322
button > .glyphicon {
  pointer-events: none;
}

a[disabled], a fieldset[disabled] & {
	&,
	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: $ui-disabled-btn-bg;;
		color: $ui-disabled-btn-color;
		border-color: $ui-disabled-btn-border;
		padding: 0;
		cursor: default;
	}
}

.il-btn-month .dropdown-menu {
  min-width:250px;
}
.ui-btn-tag {
    display: inline-block;
    white-space: nowrap;
    padding: $padding-xs-vertical $padding-xs-horizontal;
    margin: $btn-tag-margin;
    border-radius: $btn-tag-border-radius;

	&.ui-btn-tag-relevance-verylow {
		background-color: $btn-tag-bg-relevance-verylow;
		color: $btn-tag-fg-relevance-verylow;
	}
	&.ui-btn-tag-relevance-low {
    background-color: $btn-tag-bg-relevance-low;
    color: $btn-tag-fg-relevance-low;
	}
	&.ui-btn-tag-relevance-middle {
    background-color: $btn-tag-bg-relevance-middle;
    color: $btn-tag-fg-relevance-middle;
	}
	&.ui-btn-tag-relevance-high {
    background-color: $btn-tag-bg-relevance-high;
    color: $btn-tag-fg-relevance-high;
	}
	&.ui-btn-tag-relevance-veryhigh {
    background-color: $btn-tag-bg-relevance-veryhigh;
    color: $btn-tag-fg-relevance-veryhigh;
	}
}

// shy buttons
.ui-btn-link {
	padding: 0;
	text-align: left;
	white-space: normal;
}

// bulky buttons
.ui-btn-bulky {
	width: 100%
}

/*
// button with loading animation
.il-btn-with-loading-animation {
	background-image: url("${background-images-path}loader.svg");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 18px;
}
*/
